
name: WW
on: [push]

jobs:
  build-secure-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Scan
      uses: azure/container-scan@v0 
      continue-on-error: true
      with:
        image-name: alpine/git:latest
    - run: echo '$scan-report-path'
#     - name: Download the release artifact
#       uses: actions/download-artifact@v2
#       with:
#         name: release-${{ github.event.inputs.release }}
#         path: .serverless
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
          name: Sonar_scan_xml
          path: Sonar_xml.xml
