
name: WW
on: [push]

jobs:
  build-secure-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Scan
    - uses: azure/container-scan@v0
      with:
        image-name: alpine/git:latest
    - name: Upload Artifact
    - uses: actions/upload-artifact@v2
      with:
          name: Sonar_scan_xml
          path: Sonar_xml.xml
